INTUITION_GRAPHQL_URL=https://mainnet.intuition.sh/v1/graphql
REGISTRY_GRAPHQL_ENDPOINT=https://mainnet.intuition.sh/v1/graphql
INTUITION_RPC_URL=https://rpc.intuition.systems/http
REGISTRY_MEMBERSHIP_PREDICATE_ID=0xb0681668ca193e8608b43adea19fecbbe0828ef5afc941cef257d30a20564ef1
REGISTRY_DEPLOYMENT_CLASS_ID=0x6b417110d95173e05bb927254249126617efb6410824afe0e8d029245252f21c
VITE_INTUITION_GRAPHQL_URL=https://mainnet.intuition.sh/v1/graphql
VITE_REGISTRY_API_BASE_URL=https://caveat-enforcers-registry.onrender.com
CORS_ORIGIN=
VITE_REGISTRY_MEMBERSHIP_PREDICATE_ID=0xb0681668ca193e8608b43adea19fecbbe0828ef5afc941cef257d30a20564ef1
VITE_REGISTRY_DEPLOYMENT_CLASS_ID=0x6b417110d95173e05bb927254249126617efb6410824afe0e8d029245252f21c
REGISTRY_ONTOLOGY_VERSION=proposed-mainnet-2026-08-03
INTUITION_CHAIN_ID=1155
REGISTRY_PREDICATE_IMPLEMENTS=0xb8adf8a79c30ae6a224ac8a76a738258114da42a3799387648f0fde2caeb2bba
REGISTRY_PREDICATE_DEPLOYED_ON=0x957beb2e34369c31c05a83dd43b7361bae62ce27aa799d731e7b24bd4ede7d7b
REGISTRY_PREDICATE_PART_OF_RELEASE=
REGISTRY_PREDICATE_SOURCE_AT=0xe5705ab105b08eb11c2fb1d624d71ba0243e8e4324864b56acafdc5fdc6c6a3e
REGISTRY_PREDICATE_DESCRIBED_BY=
REGISTRY_PREDICATE_HAS_TERMS_SCHEMA=
REGISTRY_PREDICATE_COVERED_BY_AUDIT=
REGISTRY_PREDICATE_AUDITED_BY=
REGISTRY_PREDICATE_USED_BY=
REGISTRY_PREDICATE_RESTRICTS=
REGISTRY_PREDICATE_AFFECTS_OPERATION=
REGISTRY_PREDICATE_COMPLEMENTS=
REGISTRY_PREDICATE_CONFLICTS_WITH=0x01d4e9039fd585178fcb08acd7daec2416d6226e9a6ecd51cf844f996ee7d5d3
REGISTRY_PREDICATE_REDUNDANT_WITH=
REGISTRY_PREDICATE_APPLIES_IN_CONTEXT=
REGISTRY_PREDICATE_REQUIRES_ORDERING=
REGISTRY_PREDICATE_SUPPORTED_BY=
